td {
    width: 65px;
    height: 65px;
    background-color: blue;
    text-align: center;
}

.unusedPiece {
    background-color: lightblue;
}

.white-piece {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 12px;
    background-color: white;
    border: 1px solid black;
}

.black-piece {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
}

.king.white-piece {
    background-color: gold;
}

.king.black-piece {
    background-color: silver;
}